/*
----------------------------------------
USWDS with settings overrides
----------------------------------------

*/

 @use "uswds-core" with (
   $theme-show-notifications: false,
   $theme-font-path:  "/public/uswds/fonts",
   $theme-image-path: "/public/uswds/img"
 );

